<template>
  <v-app-bar
    color="indigo white--text"
    height="50px"
    flat>

    <!-- logo -->
    <v-toolbar-title class="text-uppercase" style="width: 13%;">
      <v-img src="@/assets/img/logo-full.png" width="72%" class="ml-1"></v-img>
    </v-toolbar-title>

    <!-- select language -->
    <MenuList :left="false">
      <template v-slot:activator="{ on }">
        <v-btn
          dark
          depressed
          text
          tile
          class="text-capitalize font-weight-regular pl-3 pb-0 pr-3"
          v-on="on">
          <v-img
            width="20px"
            height="14px"
            src="@/assets/img/gb.png"
            alt="english"
            class="mr-2">
          </v-img>
          <span style="margin-bottom: 2px;">English</span>
          <v-icon small class="ml-1">mdi-chevron-down</v-icon>
        </v-btn>
      </template>
      <v-list three-line max-width="270" dense shaped>
        <template>
          <v-list-item @click="onClick()" style="min-height: 50px;">
            <v-list-item-avatar style="height: 30px; min-width: 30px; width: 30px;">
              <v-img src="@/assets/img/id.png"></v-img>
            </v-list-item-avatar>
            <v-list-item-content style="margin-left: -10px;">
              <v-list-item-title>Indonesia</v-list-item-title>
              <v-list-item-subtitle>Ubah Bahasa Kedalam Indonesia</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <v-divider inset></v-divider>
          <v-list-item @click="onClick()" style="min-height: 50px;">
            <v-list-item-avatar style="height: 30px; min-width: 30px; width: 30px;">
              <v-img src="@/assets/img/gb.png"></v-img>
            </v-list-item-avatar>
            <v-list-item-content style="margin-left: -10px;">
              <v-list-item-title>English</v-list-item-title>
              <v-list-item-subtitle>Ubah Bahasa Kedalam English</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </MenuList>

    <!-- status on/off -->
    <v-chip color="white" x-small class="pr-2 ml-1" style="padding-left: 0px">
      <v-avatar>
        <v-icon x-small :class="is_online ? 'green--text' : 'red--text'">mdi-checkbox-blank-circle</v-icon>
      </v-avatar>
      <span :class="is_online ? 'green--text' : 'red--text'">{{ is_online ? 'Online' : 'Offline' }}</span>
    </v-chip>

    <v-spacer></v-spacer>

    <!-- date info -->
    <v-btn
      dark
      depressed
      text
      tile
      small
      class="text-capitalize font-weight-regular pl-0 pb-0 pr-0">
      <span class="pl-1 pr-1">{{ dateNow }}</span>
    </v-btn>

    <!-- notif menu -->
    <MenuList maxHeight="450">
      <template v-slot:activator="{ on }">
        <v-btn
          dark
          depressed
          text
          tile
          small
          class="text-capitalize font-weight-regular pl-0 pb-0 pr-0 mr-1"
          v-on="on">
          <v-badge color="red" overlap>
            <template v-slot:badge >10</template>
            <v-icon small>mdi-bell</v-icon>
          </v-badge>
        </v-btn>
      </template>
      <v-list two-line shaped max-width="350" dense>
        <template v-for="(item, index) in notifications">
          <v-subheader
            v-if="item.header"
            :key="item.header">
            {{ item.header }}
          </v-subheader>
           <v-divider
            v-else-if="item.divider"
            :key="index">
          </v-divider>
          <v-list-item @click="onClick()" :key="item.title" v-else>
            <v-list-item-content>
              <v-list-item-title v-text="item.title"></v-list-item-title>
              <v-list-item-subtitle class="text--primary" v-text="item.headline"></v-list-item-subtitle>
              <v-list-item-subtitle v-text="item.subtitle"></v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </MenuList>

    <!-- user menu -->
    <MenuList>
      <template v-slot:activator="{ on }">
        <v-btn
          dark
          depressed
          text
          tile
          class="text-capitalize font-weight-regular pl-2 pb-0 pr-2"
          v-on="on">
          <v-avatar size="34px" class="mr-3">
            <v-img
              src="@/assets/img/user.png"
              alt="user">
            </v-img>
          </v-avatar>
          <span style="margin-bottom: 2px;">Victoria</span>
          <v-icon small class="ml-1">mdi-chevron-down</v-icon>
        </v-btn>
      </template>
      <v-list dense shaped>
        <template v-for="(menuUser, iMenuUser) in listMenuUser">
          <v-list-item @click="actionUserMenu(iMenuUser)" :key="`list-${iMenuUser}`">
            <v-list-item-icon class="min-w-10">
              <v-icon small>{{ menuUser.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content class="mrg-l-m-10">
              <v-list-item-title>{{ menuUser.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-divider v-if="menuUser.showDivider" :key="`divider-${iMenuUser}`"></v-divider>
        </template>
      </v-list>
    </MenuList>
  </v-app-bar>
</template>

<script>
import MenuList from '../MenuList'
import moment from 'moment'
import { mapGetters } from 'vuex'

export default {
  name: 'HeaderPrimary',
  components: {
    MenuList
  },
  data () {
    return {
      dateNow: moment(new Date()).format('ll'),
      notifications: [
        { header: 'Notification' },
        {
          action: '15 min',
          headline: 'Brunch this weekend?',
          title: 'Ali Connors',
          subtitle: `I'll be in your neighborhood doing errands this weekend. Do you want to hang out?`
        },
        { divider: true, inset: true },
        {
          action: '2 hr',
          headline: 'Summer BBQ',
          title: 'me, Scrott, Jennifer',
          subtitle: `Wish I could come, but I'm out of town this weekend.`
        },
        { divider: true, inset: true },
        {
          action: '6 hr',
          headline: 'Oui oui',
          title: 'Sandra Adams',
          subtitle: 'Do you have Paris recommendations? Have you ever been?'
        },
        { divider: true, inset: true },
        {
          action: '12 hr',
          headline: 'Birthday gift',
          title: 'Trevor Hansen',
          subtitle: 'Have any ideas about what we should get Heidi for her birthday?'
        },
        { divider: true, inset: true },
        {
          action: '18hr',
          headline: 'Recipe to try',
          title: 'Britta Holt',
          subtitle: 'We should eat this: Grate, Squash, Corn, and tomatillo Tacos.'
        }
      ],
      listMenuUser: [
        { title: 'My Profile', showDivider: true, icon: 'mdi-account-edit' },
        { title: 'Change Password', showDivider: false, icon: 'mdi-lock' },
        { title: 'Logout', showDivider: false, icon: 'mdi-power' }
      ]
    }
  },
  computed: {
    ...mapGetters([
      'is_online'
    ])
  },
  methods: {
    onClick () {
      console.log('wkwkw')
    },
    actionUserMenu (index) {
      const type = index + 1
      switch (type) {
        case 1:
          console.log('My Profile')
          break
        case 2:
          console.log('Change Password')
          break
        case 3:
          console.log('Logout')
          break
        default:
          break
      }
    }
  }
}
</script>

<style scoped>
.min-w-10 {
  min-width: 10px !important;
}
.mrg-l-m-10 {
  margin-left: -10px !important
}
</style>
