<template>
  <v-app-bar
      flat
      max-height="50px"
      dense
      app
      fixed
      class="header-secondary">
      <MenuApp />
      <MenuApp name="Inventory" />
      <MenuApp name="Purchase" />
      <MenuApp name="Sales" />
      <MenuApp name="Monitoring" />
      <MenuApp name="Mutation" />
      <MenuApp name="Report" />
      <MenuApp name="Accounting" />

      <v-spacer></v-spacer>

      <MenuApp name="Settings" icon="mdi-settings" />
    </v-app-bar>
</template>

<script>
import MenuApp from '../MenuApp'

export default {
  name: 'HeaderSecondary',
  components: {
    MenuApp
  }
}
</script>

<style scoped>
.header-secondary {
  position: sticky;
  top: 0px;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24) !important;
}
</style>
