<template>
  <v-menu
    :bottom="bottom"
    :offset-y="offsetY"
    :left="left"
    :max-height="maxHeight"
    origin="center center"
    transition="slide-x-transition">
    <template
      v-for="(_, slot) of $scopedSlots"
      v-slot:[slot]="scope">
      <slot :name="slot" v-bind="scope" />
    </template>
  </v-menu>
</template>

<script>
export default {
  name: 'MenuList',
  props: {
    bottom: {
      type: Boolean,
      default: true
    },
    offsetY: {
      type: Boolean,
      default: true
    },
    left: {
      type: Boolean,
      default: true
    },
    maxHeight: {
      type: String,
      default: 'auto'
    }
  }
}
</script>
