<template>
  <v-app style="background-color: #eeeded">
    <HeaderPrimary></HeaderPrimary>
    <HeaderSecondary></HeaderSecondary>

    <v-content  v-scroll="onScroll">
      <HelloWorld/>
    </v-content>

    <v-tooltip top v-if="offsetTop > 100">
      <template v-slot:activator="{ on }">
        <v-btn
          color="orange"
          dark
          bottom
          fixed
          right
          fab
          small
          v-on="on"
          @click="$vuetify.goTo(0, effectScroll)">
          <v-icon>keyboard_arrow_up</v-icon>
        </v-btn>
      </template>
      <span>To Top</span>
    </v-tooltip>
    <detectNetwork v-on:detected-condition="detected"></detectNetwork>
  </v-app>
</template>

<script>
import HelloWorld from './components/HelloWorld'
import HeaderPrimary from './components/Header/HeaderPrimary'
import HeaderSecondary from './components/Header/HeaderSecondary'
import detectNetwork from 'v-offline'

export default {
  name: 'App',
  components: {
    HelloWorld,
    HeaderPrimary,
    HeaderSecondary,
    detectNetwork
  },
  data () {
    return {
      offsetTop: 0,
      effectScroll: {
        duration: 300,
        offset: 0,
        easing: 'easeInOutCubic'
      }
    }
  },
  methods: {
    onScroll (e) {
      this.offsetTop = window.scrollY
    },
    detected (status) {
      this.$store.commit('ONLINE_STATUS', status)
    }
  }
}
</script>

<style scoped>
#app {
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1.5385;
  color: #333;
  text-align: left;
}
</style>
