// src/sass/variables.scss

// Globals
$border-radius-root: 6px;
$font-size-root: .8125rem;

// Variables must come before the import
$btn-letter-spacing: 0;
$btn-font-weight: 400;
$list-item-title-font-size: 0.929rem;
$list-item-dense-title-font-size: 0.929rem;
$list-item-dense-title-font-weight: initial;
$fab-icon-sizes: (
  'small': 20
);
$btn-font-sizes: (
  'default': 1rem,
  'large': 1rem
);
$btn-sizes: (
  'default': 41,
  'large': 54
);

$headings: (
  'h1': (
    'size': 3.3125rem,
    'line-height': 1.15em
  ),
  'h2': (
    'size': 2.25rem,
    'line-height': 1.5em
  ),
  'h3': (
    'size': 1.5625rem,
    'line-height': 1.4em
  ),
  'h4': (
    'size': 1.125rem,
    'line-height': 1.4em
  ),
  'h5': (
    'size': 1.0625rem
  ),
  'h6': (
    'size': .75rem
  ),
  'subtitle-2': (
    'size': 1rem
  ),
  'overline': (
    'letter-spacing': 0
  )
);

.v-badge__badge {
  font-size: 12px !important;
  height: 20px !important;
  min-width: 20px !important;
}

.v-application--is-ltr .v-badge--overlap .v-badge__badge {
  right: -11px !important;
}

.v-badge--overlap .v-badge__badge {
  top: -11px !important;
}

// Any component modifications must be imported at the bottom

@import '~vuetify/src/components/VBtn/_variables.scss';
@import '~vuetify/src/components/VList/_variables.scss';
@import '~vuetify/src/components/VBadge/_variables.scss';
// @import '~vuetify/src/styles/styles.sass';
